---
import SectionDivider from "../../components/SectionDivider.astro";
import Layout from "../../layouts/Layout.astro";
import { getPost, getBlogPosts } from "../../lib/hygraph";

export async function getStaticPaths() {
  const posts = await getBlogPosts();
  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}

const { slug } = Astro.params;
const post = await getPost(slug);
if (!post) {
  return Astro.redirect("/404");
}
---

<Layout
  title={post.title}
  description={post.excerpt}
  image={post.coverImage?.url}
  type="article"
>
  <article class:list={["mt-4", "mb-4"]}>
    <div class="article-container">
      <header class:list={["post-header"]}>
        <h1>{post.title}</h1>
        <h2>{post.excerpt}</h2>
        {
          post.publishedAt ? (
            <time datetime={post.publishedAt}>
              {new Date(post.publishedAt).toLocaleDateString("it-IT", {
                year: "numeric",
                month: "long",
                day: "numeric",
              })}
            </time>
          ) : null
        }
        {
          (
            <div class="post-tags">
              {post?.tags.map((tag) => (
                <a href={`/blog/tag/${tag}`} class="tag-link">
                  {tag.toUpperCase()}
                </a>
              ))}
            </div>
          )
        }
      </header>

      {
        post.coverImage?.url ? (
          <div
            class="cover-image"
            style={`background-image: url(${post.coverImage?.url})`}
          />
        ) : null
      }

      <div class="post-content">
        <div set:html={post.content.html} />
        <script async src="https://talk.hyvor.com/embed/embed.js" type="module"
        ></script>
        <div class="mt-8">
          <hyvor-talk-comments website-id="12979" page-id=""
          ></hyvor-talk-comments>
        </div>
      </div>
    </div>
  </article>

  <div class="cta-section">
    <div class="cta-image">
      <img src="/adriana-pastore-avatar.jpeg" alt="Adriana Pastore" />
    </div>
    <div class="cta-content">
      <h2>Fai il Primo Passo</h2>
      <h3>Prenota una chiamata gratuita di consulenza con me</h3>
      <button
        class="btn btn-primary"
        onclick="window.location.href='mailto:adriana84.pastore@gmail.com'"
        >Prenota una Chiamata Gratuita</button
      >
      <p class="cta-subtext">
        Insieme esploreremo nuove idee per la tua famiglia e scopriremo come il
        parent coaching può aiutarti.
      </p>
      <SectionDivider type="dotted-arrow" height="100px" />
      <div style="max-width: 45rem;" class="mb-8">
        <h2>Resta in contatto con me</h2>
        <script
          async
          src="https://talk.hyvor.com/embed/newsletter.js"
          type="module"></script>
        <hyvor-talk-newsletter
          website-id="12979"
          t-button-subscribe="Iscriviti"
          t-button-subscribed="Iscritto"
          t-save="Modifica Preferenze"></hyvor-talk-newsletter>
      </div>
    </div>
  </div>
</Layout>

<style>
  article {
    font-size: var(--font-size-xl);
    margin: var(--spacing-lg);
    header {
      h2 {
        font-size: large;
        font-family: var(--font-body);
        font-weight: 300;
      }
    }
    h2,
    h3,
    p {
      line-height: 1.6;
      
    }
    img {
      max-width: 100%;
      height: auto;
      border-radius: var(--radius-xl);
    }
    @media (max-width: 768px) {
      font-size: var(--font-size-lg);
      margin: var(--spacing-md);
    }

    blockquote {
      font-style: italic;
      font-size: var(--blockquote-font-size);
      color: var(--blockquote-text);
      padding: var(--blockquote-padding);
      margin: 1.5rem 0;
      border-radius: 8px;
      text-align: center;
      background-color: var(--color-gray-100);
      padding: var(--spacing-lg);
      border-radius: var(--radius-lg);
      margin: var(--spacing-md) 0;
    }

    blockquote p {
      margin: 0;
      line-height: 1.6;
    }

    blockquote::before {
      content: "“";
      font-size: 3rem;
      color: var(--blockquote-border);
      font-weight: bold;
      position: relative;
      top: 5px;
      left: -5px;
    }

    cite {
      display: block;
      margin-top: 0.5rem;
      font-size: 1rem;
      color: var(--blockquote-text);
      text-align: right;
    }

    cite::before {
      content: "— ";
    }
  }

  .post-tags {
    margin-top: var(--spacing-md);
  }

  .article-container {
    max-width: var(--container-max-width);
    margin: 0 auto;
    position: relative;
    padding: 0 var(--spacing-3xl);
    margin-bottom: var(--spacing-2xl);

    @media (max-width: 768px) {
      padding: var(--spacing-md);
    }
  }

  .post-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--color-white);
    box-shadow: var(--shadow-md);
    color: var(--color-text);
    border-radius: var(--radius-xl) var(--radius-xl) 0 0;
    padding: var(--spacing-lg) var(--spacing-lg) calc(var(--spacing-lg) + 2rem);
    position: relative;
    z-index: 2;
  }

  .post-header h1 {
    font-family: var(--font-heading);
    font-size: var(--font-size-4xl);
    color: var(--color-primary);
    margin-bottom: var(--spacing-md);

    @media (max-width: 768px) {
      font-size: var(--font-size-3xl);
    }
  }

  .post-header time {
    display: inline-block;
    color: var(--color-text);
    font-style: italic;
    font-size: var(--font-size-base);
  }

  .cover-image {
    margin: -2rem auto 0;
    border-radius: var(--radius-xl);
    height: 80rem;
    background-size: cover;
    background-position: center;
    box-shadow: 0 -3px 3px rgba(142, 92, 0, 0.311);
    position: relative;
    z-index: 3;

    @media (max-width: 768px) {
      height: 25rem;
      height: 40rem;
    }
  }

  .post-content {
    background: var(--color-white);
    margin-top: -2rem;
    padding: calc(var(--spacing-2xl) + 2rem) var(--spacing-lg) var(--spacing-lg);
    border-radius: 0 0 var(--radius-xl) var(--radius-xl);
    box-shadow: var(--shadow-md);
    line-height: 1.8;
    position: relative;
    z-index: 1;
  }

  .post-content h2,
  .post-content h3,
  .post-content h4,
  .post-content h5,
  .post-content h6 {
    color: var(--color-primary);
  }

  .post-content h2,
  .post-content h3 {
    text-align: center;
    font-family: var(--font-heading);
    margin: 2rem 0 1rem;
  }

  .post-content p {
    margin-bottom: 1.5rem;
  }

  .post-content img {
    max-width: 100%;
    height: auto;
    border-radius: var(--radius-md);
  }

  @media (max-width: 768px) {
    .post-header {
      padding: var(--spacing-lg) var(--spacing-md)
        calc(var(--spacing-lg) + 1rem);
    }

    .post-content {
      padding: calc(var(--spacing-xl) + 1rem) var(--spacing-md)
        var(--spacing-md);
    }
  }
</style>
