---
const { post } = Astro.props;
---

<article class="post-card">
  <a href={`/blog/${post.slug}`}>
    <header class:list={["post-header"]}>
      <h1>{post.title}</h1>
      {
        post.publishedAt ? (
          <time datetime={post.publishedAt}>
            {new Date(post.publishedAt).toLocaleDateString("it-IT", {
              year: "numeric",
              month: "long",
              day: "numeric",
            })}
          </time>
        ) : null
      }
    </header>
    {
      post.coverImage?.url ? (
        <div
          class="cover-image"
          style={`background-image: url(${post.coverImage?.url})`}
        />
      ) : null
    }

    <div class="post-content">
      <p>{post.excerpt}</p>
    </div>
    <div style="display: flex;">
      {
        (
          <div class="post-tags">
            {post?.tags.map((tag) => (
              <a href={`/blog/tag/${tag}`} class="tag-link">
                {tag.toUpperCase()}
              </a>
            ))}
          </div>
        )
      }
      <a href={`/blog/${post.slug}`} class="read-more">Leggi di più →</a>
    </div>
  </a>
</article>

<style>
  .post-tags {
    margin: var(--spacing-md);
  }
  .post-card {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--color-white);
    box-shadow: var(--shadow-md);
    color: var(--color-text);
    border-radius: var(--radius-xl);
    z-index: 2;
  }

  .post-card h1 {
    font-family: var(--font-heading);
    font-size: var(--font-size-4xl);
    color: var(--color-primary);
    margin-bottom: var(--spacing-md);

    @media (max-width: 768px) {
      font-size: var(--font-size-3xl);
    }
  }

  .post-card time {
    display: inline-block;
    color: var(--color-text);
    font-style: italic;
    font-size: var(--font-size-base);
  }
  .post-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: var(--color-white);
    box-shadow: var(--shadow-md);
    color: var(--color-text);
    border-radius: var(--radius-xl) var(--radius-xl) 0 0;
    padding: var(--spacing-lg) var(--spacing-md)
      calc(var(--spacing-lg) + 0.5rem);
    position: relative;
    z-index: 2;
  }
  .cover-image {
    margin: -2rem auto 0;
    border-radius: var(--radius-lg);
    height: 40rem;
    background-size: cover;
    background-position: center;
    box-shadow: 0 -3px 3px rgba(142, 92, 0, 0.311);
    position: relative;
    z-index: 3;

    @media (max-width: 768px) {
      height: 25rem;
      height: 40rem;
    }
  }
  .post-content {
    margin-top: var(--spacing-sm);
    padding: 0 var(--spacing-sm);
    p {
      line-height: 1.4;
    }
  }

  .read-more {
    color: var(--color-primary);
    text-decoration: none;
    font-weight: 600;
    margin: var(--spacing-md);
  }

  .read-more:hover {
    text-decoration: underline;
  }
</style>
